#user-info {
    margin-top: 4rem;
    background: white;
    border: solid 1px lightgray;
    display: flex;
}

#user-info img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

#user-info #name {
    font-weight: bold;
}